<div class="container">
  <nav id="button_manager">
      <div id="btn1">
          <button>Đăng ký khoá học</button>
          <button>Thông tin khoá học</button>
      </div>
      <div id="btn2">
          <button class="choose2">Xoá khoá học</button>
      </div>
  </nav>
</div>
<br><br><br>

<svg viewBox="-10 15 1330 450">
  <path fill="none" stroke="#5390D9"
      d="M 50 300 Q 100 330 150 300 Q 200 270 250 300 Q 300 330 350 300 Q 400 270 450 300 Q 500 330 550 300 Q 600 270 650 300 Q 700 330 750 300 Q 800 270 850 300 Q 900 330 950 300 Q 1000 270 1050 300 Q 1100 330 1150 300 Q 1200 270 1250 300">
  </path>
</svg>
<div class="container">
  <div class="row" id="up">
      <div class="col-md-7">
          <h1>Thông tin khoá học</h1>
      </div>
      <div class="col-md-4">
          <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
      </div>
  </div>
</div>
<br><br><br>

<div class="container" id="main-container">
  <div class="container-fluid" *ngFor="let item of infor" id="cover">
      <div class="row">
          <div class="col-md-11">
              <nav id="information">

                  <div class="row">
                      <div class="col-md-2">
                          <p>Tên nhân viên: </p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                      </div>
                      <div class="col-md-10">
                          <div class="Content">{{item.full_Name}}</div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-2">
                          <p>Tên khoá học: </p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                      </div>
                      <div class="col-md-10">
                          <div class="Content">{{item.course_Title}}</div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-2">
                          <p>Chứng chỉ: </p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                      </div>
                      <div class="col-md-10">
                          <div class="Content" *ngIf="item.cert_Link == null"> Not yet </div>
                          <div class="Content"><a href="{{item.cert_Link}}">{{item.cert_Link}}</a>
                          </div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-2">
                          <p>Trạng thái: </p>&nbsp;
                      </div>
                      <div class="col-md-3">
                          <div [ngSwitch]="item.status">
                              <div class="Content" *ngSwitchCase="'1'"> Completed </div>
                              <div class="Content" *ngSwitchCase="'2'"> Learning </div>
                          </div>
                      </div>
                      <div class="col-md-2"></div>
                      <div class="col-md-1">
                          <p>Nền tảng: </p> &nbsp;
                      </div>
                      <div class="col-md-3">
                          <div class="Content">{{item.platform}}</div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-2">
                          <p>Ngày bắt đầu: </p>&nbsp;
                      </div>
                      <div class="col-md-3">
                          <div class="Content">{{item.start_Date}}</div>
                      </div>
                      <div class="col-md-2"></div>
                      <div class="col-md-1">
                          <p>Loại Khoá học: </p> &nbsp;
                      </div>
                      <div class="col-md-3">
                          <div class="Content">{{item.category}}</div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-2">
                          <p>Ngày kết thúc: </p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                      </div>
                      <div class="col-md-3">
                          <div class="Content" *ngIf="item.end_Date == null"> Not yet</div>
                          <div class="Content">{{item.end_Date}}</div>
                      </div>

                  </div>

                  <div class="row">
                      <div class="col-md-2">
                          <p>Tổng thời gian học: </p>&nbsp; &nbsp;
                      </div>
                      <div class="col-md-3">
                          <div class="Content">{{item.course_Length}} hours</div>
                      </div>
                      <div col-md-10>

                      </div>
                  </div>
              </nav>
          </div>
          <div class="col-md-1" id="edit">
              <a (click)="onOpenModal(item, 'delete')">
                  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" margin-bottom="20px"
                      fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path
                          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                      <path fill-rule="evenodd"
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                  </svg>
              </a>
              <br><br><br>
              <a (click)="onOpenModal(item, 'edit')">
                  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                      class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path
                          d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd"
                          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                  </svg>
              </a>
          </div>
      </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="updateInforModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="updateEmployeeModalLabel">Thông tin: {{editInfor.full_Name}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <form #editForm="ngForm">
                      <div class="form-group" style="display: none;">
                          <label for="Tên nhân viên">ID nhân viên</label>
                          <input type="text" ngModel="{{editInfor.employee_ID}}" name="employee_ID" class="form-control"
                              id="employee_ID" aria-describedby="emailHelp" placeholder="ID nhân viên">
                      </div>
                      <div class="form-group" style="display: none;">
                          <label for="Tên khoá học">ID khoá học</label>
                          <input type="email" ngModel="{{editInfor.course_ID}}" name="course_ID"
                              class="form-control" id="course_ID" placeholder="ID khoá học">
                      </div>
                      <div class="form-group">
                          <label for="Tên nhân viên">Tên nhân viên</label>
                          <input type="text" ngModel="{{editInfor.full_Name}}" name="full_Name" class="form-control"
                              id="full_Name" aria-describedby="emailHelp" placeholder="Tên nhân viên">
                      </div>
                      <div class="form-group">
                          <label for="Tên khoá học">Tên khoá học</label>
                          <input type="email" ngModel="{{editInfor.course_Title}}" name="course_Title"
                              class="form-control" id="course_Title" placeholder="Tên khoá học">
                      </div>
                      <div class="form-group">
                          <label for="Chứng chỉ">Chứng chỉ</label>
                          <input type="text" ngModel="{{editInfor.cert_Link}}" name="cert_Link" class="form-control"
                              id="cert_Link" placeholder="Chứng chỉ">
                      </div>
                      <div class="form-group">
                          <label for="Trạng thái">Trạng thái</label>
                          <input type="text" ngModel="{{editInfor.status}}" name="status" class="form-control"
                              id="status" name="status" placeholder="Trạng thái">
                      </div>
                      <div class="form-group">
                          <label for="Ngày bắt đầu">Ngày bắt đầu</label>
                          <input type="text" ngModel="{{editInfor.start_Date}}" name="start_Date"
                              class="form-control" id="start_Date" placeholder="Ngày bắt đầu">
                      </div>
                      <div class="form-group">
                          <label for="Ngày kết thúc">Ngày kết thúc</label>
                          <input type="text" ngModel="{{editInfor.end_Date}}" name="end_Date" class="form-control"
                              id="end_Date" placeholder="Ngày kết thúc">
                      </div>
                      <div class="form-group">
                          <label for="Tổng thời gian học">Tổng thời gian học</label>
                          <input type="text" ngModel="{{editInfor.course_Length}}" name="course_Length"
                              class="form-control" id="course_Length" placeholder="Tổng thời gian học">
                      </div>
                      <div class="form-group">
                          <label for="Nền tản">Nền tảng</label>
                          <input type="text" ngModel="{{editInfor.platform}}" name="platform" class="form-control"
                              id="platform" placeholder="Nền tảng">
                      </div>
                      <div class="form-group">
                          <label for="Loại khoá học">Loại khoá học</label>
                          <input type="text" ngModel="{{editInfor.category}}" name="category" class="form-control"
                              id="category" placeholder="Loại khoá học">
                      </div>
                      <div class="modal-footer">
                          <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                          <button (click)="onUpdateInfor(editForm.value)" data-dismiss="modal"
                              class="btn btn-primary">Save changes</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteInforModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="deleteModelLabel">Xoá thông tin</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <p>Bạn có muốn xoá: {{deleteInfor?.full_Name}}_{{deleteInfor?.course_Title}}?</p>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                      <button (click)="onDeleteInfor(deleteInfor.course_ID)" class="btn btn-danger"
                          data-dismiss="modal">Yes</button>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>

<nav id="showAll">
  <p>Hiển thị tất cả</p>
</nav>

<nav aria-label="Page navigation example" id="paging">
  <ul class="pagination">
      <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
          </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
          </a>
      </li>
  </ul>
</nav>

