<div class="container">
  <div class="grid-container">
    <button class="btn2 grid-item"><a href="\course-register">Đăng kí khoá học</a></button>
    <button class="btn2 grid-item" style="background-color: #1EBBE0;">
      <a href="\course-info" style="color: #fff;">Thông tin khoá học</a>
    </button>
  </div>
  <br>
  <button style="margin-left: 40%;" class="btn2 grid-item"><a href="/course-delete">Xoá khoá học</a></button>


  <hr>
<!-- <svg viewBox="-10 15 1330 450">
  <path fill="none" stroke="#5390D9"
    d="M 50 300 Q 100 330 150 300 Q 200 270 250 300 Q 300 330 350 300 Q 400 270 450 300 Q 500 330 550 300 Q 600 270 650 300 Q 700 330 750 300 Q 800 270 850 300 Q 900 330 950 300 Q 1000 270 1050 300 Q 1100 330 1150 300 Q 1200 270 1250 300">
  </path>
</svg> -->
<div class="container-md">
  <div class="row" id="up">
    <div class="col-md-7">
      <h1>Thông tin khoá học của nhân viên</h1>
    </div>
    <div class="col-md-4" id="courses">
      <form class="d-flex">
        <input class="form-control me-2" type="text" name="search" [(ngModel)]="searchText"
          placeholder="Nhập nội dung cần tìm" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Tìm</button>
      </form>
    </div>
  </div>
</div>
<br><br><br>


<div *ngFor="let c of cInfo | filter:searchText
                            | paginate: {
                              itemsPerPage: 5,
                              currentPage: p,
                              totalItems: cInfo.length};" 
                            class="courses">
  <div class="container-fluid" id="cover">
    <div class="row">
      <div class="col-md-11">
        <nav id="information">

          <div class="row">
            <div class="col-md-2">
              <p>Tên nhân viên: </p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
            </div>
            <div class="col-md-10">
              <div class="Content">{{c.fullName}}</div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <p>Tên khoá học: </p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
            </div>
            <div class="col-md-10">
              <div class="Content">{{c.course}}</div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <p>Chứng chỉ: </p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            </div>
            <div class="col-md-10">
              <div class="Content"><a
                  href="{{c.certLink}}">{{c.certLink}}</a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <p>Trạng thái: </p>&nbsp;
            </div>
            <div class="col-md-3"[ngSwitch]="c.status">
              <label class="Content" *ngSwitchCase="1">Đã đăng kí</label>
              <label class="Content" *ngSwitchCase="2">Chưa đăng kí</label>
              <label class="Content" *ngSwitchCase="3">Đã hoàn thành</label>
              <label class="Content" *ngSwitchCase="4">Chưa hoàn thành</label>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-1">
              <p>Nền tảng: </p> &nbsp;
            </div>
            <div class="col-md-3">
              <div class="Content">{{c.platform}}</div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <p>Ngày bắt đầu: </p>&nbsp;
            </div>
            <div class="col-md-3">
              <div class="Content">{{c.startDate}}</div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-1">
              <p>Loại Khoá học: </p> &nbsp;
            </div>
            <div class="col-md-3">
              <div class="Content">{{c.category}}</div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <p>Ngày kết thúc: </p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            </div>
            <div class="col-md-3">
              <div class="Content">{{c.endDate}}</div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-2">
              <p>Tổng thời gian học: </p>&nbsp; &nbsp;
            </div>
            <div class="col-md-3">
              <div class="Content">{{c.courseLength}} hours</div>
            </div>
            <div col-md-10>

            </div>
          </div>
        </nav>
      </div>
      <div class="col-md-1" id="edit">
        <button id="editIcon" (click)="ClickBtnDelete(c)" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" margin-bottom="20px" fill="currentColor"
            class="bi bi-trash" viewBox="0 0 16 16">
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
            <path fill-rule="evenodd"
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
          </svg>
        </button>
        <br><br><br>
        <button (click)="onEdit(c)" class="btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-pencil-square"
            viewBox="0 0 16 16">
            <path
              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
            <path fill-rule="evenodd"
              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
          </svg>
        </button>

      </div>

    </div>
  </div>
</div>

<pagination-controls style="display: flex;
  justify-content: center;" (pageChange)="p = $event; pageChange()"> </pagination-controls>

<!-- Delete dialog -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn xóa khóa học này không?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <button type="button" id="y" class="btn btn-success" data-bs-dismiss="modal"
          (click)="deleteC()">Có</button>
        <button type="button" id="n" class="btn btn-danger" data-bs-dismiss="modal">Không</button>
      </div>
    </div>
  </div>
</div>


<!-- Notification Success-->
<div class="modal fade " id="success_alert" #notification2 aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">

      <div class="modal-body">
        <mat-icon class="btn_success">done</mat-icon>
        <h1 class="successHeader">Thành công!</h1>
      </div>
    </div>
  </div>
</div>

<!-- Notification Fail-->
<div class="modal fade " id="fail_alert" #notification2 aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">

      <div class="modal-body">
        <mat-icon class="btn_fail">cancel</mat-icon>
        <h1 class="failHeader">Đã xảy ra lỗi</h1>
      </div>
    </div>
  </div>
</div>