
/* svg {
  margin-top: -150px;
  margin-bottom: -130px;
} */


#up{
  margin-top: 80px;
  margin-bottom:50px;
}
#up h1{
  font-family: Karma;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 100%;
  color:#265A99;
}

  #information {
    border: 1px solid black;
    border-radius: 20px;
    padding: 30px 30px 5px 15px;
    justify-content:center;
    font-size: 18px;
    font-weight:600;
    margin-left: 50px;
  }
  #edit{
    margin: 300px 0 0 0;
  }
  #cover{
    margin: 15px 0 15px 0;
  }
  .Content{
    background-color: #e8f0f1;
    font-weight: 350;
  }
  #showAll p {
    position: sticky;
    width: 136px;
    height: 16px;
    left: 1129px;
    top: 1504px;
    margin: 20px;
    font-family: Karma;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */

    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: -0.32px;

    color: #040a96;
  }
  #paging  {

    display: flex;
    justify-content: center;

    font-family: Post No Bills Jaffna;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;


  }

/* Dialog delete */
/* 
.modal-content{
  background-color: rgb(182, 209, 255);
} */

#exampleModalLabel{
  margin: 3px 30px 3px 50px;
  color:#040a96;
  font-size: 20px;
  font-weight: 600;
}

.modal-body button{
  margin: 5px 10px 5px 10px;
  width: 130px;
  border-radius: 20px;
}

#y{
  margin-left: 90px;
}



.grid-container{
  margin-top: 35px;
  display: grid;
  justify-content: center;
  column-gap: 10%;
  row-gap: 20px;
  grid-template-columns: auto auto;
  
}

.btn2{
  height: 70px;
  background-color: #B5DFE9;
  color: #265A99;
  border-radius: 40px;
  border: 1px solid #000;
  font-size: 22px;
  font-weight: 500;
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.25);
}

.btn2:hover{
  background-color: #1EBBE0 !important;
}

a{
  width: 200px;
  display: block;
  text-decoration: none;
  color: #265A99;

}

a:hover{
  /* background-color: #1EBBE0; */
  color: #fff;
}

hr{
  color: #5390D9;
  width: 70%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
#editIcon{
  background: none;
  border: none;
}



.btn_success{
  color: #59bd3bc9;
  font-size: 50px;
  height: 80px;
  width: 80px;
  border-radius: 60px;
  background: rgba(0, 255, 85, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-left: 34%;
  margin-bottom: 30px;
}

.successHeader{
  text-align: center;
  color: rgb(1, 161, 9);
}