<div class="container-fluid">
  <h1 mat-dialog-title>Sửa thông tin khoá học:</h1>
  <div mat-dialog-content>

    <form [formGroup]="courseForm">
      <!-- <mat-form-field appearance="fill">
        <mat-label>Tên nhân viên: </mat-label>
        <input formControlName="fullName" matInput>
      </mat-form-field> -->
      <mat-form-field appearance="fill">
       <mat-label>Tên nhân viên:</mat-label>
       <mat-select formControlName="employee">
         <mat-option *ngFor="let item of employees" [value]="item.employeeId">{{item.fullName}}</mat-option>
       </mat-select>
     </mat-form-field>

     <mat-form-field appearance="fill">
       <mat-label>Tên khoá học:</mat-label>
       <mat-select formControlName="course">
         <mat-option *ngFor="let item of courses" [value]="item.id">{{item.name}}</mat-option>
       </mat-select>
     </mat-form-field>




      <!--<mat-form-field appearance="fill">
       <mat-label>Tên nhân viên:</mat-label>
       <mat-select>
         <mat-option  *ngFor="let item of editData" value="{{item.fullName}}"></mat-option>
       </mat-select>
     </mat-form-field>

     <mat-form-field appearance="fill">
       <mat-label>Tên khoá học:</mat-label>
       <mat-select>
         <mat-option formControlName="course" *ngFor="let item of editData" value="{{item.course}}"></mat-option>
       </mat-select>
     </mat-form-field>-->

      <!-- <mat-form-field appearance="fill">
        <mat-label>Tên khoá học:</mat-label>
        <input formControlName="course" matInput>
      </mat-form-field> -->

      <mat-form-field appearance="fill">
        <mat-label>Chứng chỉ:</mat-label>
        <input formControlName="certLink" matInput>
      </mat-form-field>

      <mat-radio-group formControlName="status" aria-label="Select an option">
        <br>
        <mat-label>Trạng thái: </mat-label><br>
        <mat-radio-button value="1">Đang học</mat-radio-button><br>
        <mat-radio-button value="2">Đã học</mat-radio-button><br>
        <mat-radio-button value="3">Chưa thi</mat-radio-button><br>
        <mat-radio-button value="4">Đã thi chưa có bằng</mat-radio-button><br>
      </mat-radio-group>

      <mat-form-field appearance="fill">
        <mat-label>Nền tảng:</mat-label>
        <input formControlName="platform" matInput>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Loại khoá học</mat-label>
        <input formControlName="category" matInput>
      </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>Ngày bắt đầu:</mat-label>
        <input formControlName="startDate" matInput [matDatepicker]="spicker">
        <mat-datepicker-toggle matSuffix [for]="spicker"></mat-datepicker-toggle>
        <mat-datepicker #spicker></mat-datepicker>
      </mat-form-field>



      <mat-form-field appearance="fill">
        <mat-label>Ngày kết thúc:</mat-label>
        <input formControlName="endDate" matInput [matDatepicker]="epicker">
        <mat-datepicker-toggle matSuffix [for]="epicker"></mat-datepicker-toggle>
        <mat-datepicker #epicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tổng thời gian học: </mat-label>
        <input formControlName="courseLength" matInput>
      </mat-form-field>

      <input (click)="update()" class="submit" type="submit" value="Save">
    </form>

  </div>


 
</div>
