<header>
    <div class="container-fluid">

        <nav id="logo_ava">
            <img src="https://i.chungta.vn/2017/12/22/LogoFPT-2017-copy-3042-1513928399.jpg" alt="logo" id="logo">
            <img src="https://i.chungta.vn/2017/12/22/LogoFPT-2017-copy-3042-1513928399.jpg" alt="Page logo"
                class="PageLogo">
            <img src="https://i.chungta.vn/2017/12/22/LogoFPT-2017-copy-3042-1513928399.jpg" alt="Avatar" class="ava">
        </nav>

        <div class="container" class="nav">
            <div id="navigation">
                <button><a href="#">Trang Chủ</a></button>
                <button><a href="#">Danh sách khoá học</a></button>
                <button><a href="#">Danh sách nhân viên</a></button>
                <button class="choose"><a href="#">Quản lý khoá học</a></button>
            </div>
        </div>
    </div>

</header>