/* footer */

footer {
  padding-top: 25px;
  display: flex;

  justify-content: space-evenly;
  margin-top: 50px;
  position: sticky;
  height: 124px;
  left: 1px;
  top: 1881px;

  background: #d8d8d8;
}


