

.table{
    margin-top: 5%;
    --bs-table-striped-bg: #CFDEEF;
    --bs-table-bg: #fff;
    text-align: center;
}

h1{
    margin-top: 30px;
    /* margin-bottom: 30px; */

    color: #265A99;
    font-weight: 500;
    text-align: center;
    font-size: 35px;
    text-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
}

th{
    background-color: #7DA0CA;
    padding-top: 15px;
}

/* table {
    counter-reset: rowNumber;
}

table tr {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
} */



/* .table>:not(caption)>*>*{
    position: relative;
    top: 5px;
    left: -8px;
} */

/* tbody {
    position: relative;
    top: -3px;
    left: 8px;
} */

table.table th {
    padding: 0.2rem 16px 1rem;
}
tr{
    vertical-align: middle;
}

table {
    width: 100%;
  }
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}


.mat-column-index{
    width: 10%;
}

.mat-column-fullName{
    width: 15%;
}
.mat-column-email{
    width: 15%;
}
.mat-column-course{
    width: 30%;
}
.mat-column-status{
    width: 10%;
}
.mat-column-startDate{
    width: 10%;
}
.mat-column-endDate{
    width: 10%;
}


.mat-header-cell {
    color: #0c2e58;
    font-weight: 500;
    font-size: 14px;
}

.mat-row .mat-cell {
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    background-color: #d7e3f1;
  }
  