<div *ngFor="let c of courses">
  <div *ngIf="c?.course == cName && c?.employeeId== CRid">
    <mat-dialog-content class="mat-typography">
      <div class="container-fluid">
        <div *ngFor="let sk of skills">
          <div *ngIf="c?.course == sk?.name">
            <img
          src="https://res.cloudinary.com/practicaldev/image/fetch/s--MlzXm8j1--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/15utqnbl0s7x63q54crj.jpg"
          alt="...">
          </div>
        </div>

        <div class="container">
          <div class="row">
            <h1>{{c?.course}}

            </h1>
          </div>

          <div class="row" id="line">
            <div class="col-md-2">
              <h2>Kỹ năng:</h2>
            </div>
            <div class="col-md-5">
              <div class="row">
                <div *ngFor="let sk of skills">
                  <div *ngIf="c?.course == sk?.name">
                    <div class="col-md-3" *ngFor="let s of sk?.skills">
                      <p class="sk">{{s}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" id="line">
            <div class="col-md-2">
              <h2>Trạng thái:</h2>
            </div>
            <div class="col-md-2">
              <div class="St">
                {{c?.status}}

              </div>
            </div>
          </div>

          <div class="row" id="line">
            <div class="col-md-2">
              <h2>Nền tảng:</h2>
            </div>
            <div class="col-md-5">
              <div class="info">

                {{c?.platform}}
              </div>
            </div>
          </div>

          <div class="row" id="line">
            <div class="col-md-2">
              <h2>Ngày bắt đầu:</h2>
            </div>
            <div class="col-md-5">
              <div class="info">

                {{c?.startDate}}
              </div>
            </div>
          </div>

          <div class="row" id="line">
            <div class="col-md-2">
              <h2>Ngày kết thúc:</h2>
            </div>
            <div class="col-md-5">
              <div class="info">

                {{c?.endDate}}
              </div>
            </div>
          </div><br><br>


        </div>
      </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <div class="container">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-4">
            <button id="pointer"><a href="{{c?.certLink}}">Đi đến chứng chỉ khóa học</a></button>
          </div>
          <div class="col-md-2">
            <button class="close" mat-button mat-dialog-close>Close</button>
          </div>
        </div>
      </div>


    </mat-dialog-actions>
  </div>


</div>