.uin{
  background-color: #A9E3E3;
  padding: 1px 2px 1px 3px;
  margin-bottom:10px;
}
h1{
   text-align: center;
}
a{
  text-decoration: none;
}

h3, h1{
  margin: 0;
  padding: 0;
}
p{
  margin:0;
  padding:0;
  font-weight: 500;
}



.title{
  margin-top: 35px;
  font-family: Karma;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.32px;
  color: #265A99;
}

.subtitle{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #265A99;
}
.subinfo{
  margin-left: 30px;
}

.info-basic{
  margin-top: 10px;
}

.btn-view-cert{
  margin-top:30px;
  width: auto;
}

/* btn Chỉnh sửa */
#btn-edit-img{
  margin-top: 10px;
  margin-left: 45px;
}

/* Skills */
.row-skills{
  display: flex;
  flex-wrap: wrap;
}

.sk{
  width: auto;
  background-color: #B8E2EF;
  padding: 6px;
  margin: 2px;
  text-align: center;
  border: solid 0.5px;
  border-radius: 7px;
}


#divider{
  transform: rotate(90deg);
}
.numS{
  background-color: #A9E3E3;
  padding: 1px ;
}

.CD{
  color: Green;
}
.CNY{
  color: red;
}

/*POP UP*/
.CertCover{
  border: Solid 1px;
  border-radius: 8px;
  padding: 7px;
  margin: 7px;
}

#s{
  margin: 8% 0 8% 0;
}
.d-flex{
  margin: 10px 5px 0 5px;
  width: 500px;
}
.tt{
  text-align: center;
  margin-top: 10px;
  margin-left: 90px;
  font-weight: 500;
  color: blue;
  font-size: 50px;
}

.itemSkill{
  margin-right: 2%;
  margin-bottom: 2%;
}