<div class="container">
    <div class="grid-container">
        <button class="btn grid-item" style="background-color: #1EBBE0;">
          <a href="\course-register" style="color: #fff;">Đăng kí khoá học</a>
        </button>
        <button class="btn grid-item"><a href="\course-info">Thông tin khoá học</a></button>
    </div>
    <br>
    <button style="margin-left: 40%;" class="btn grid-item"><a href="\course-delete">Xoá khoá học</a></button>


    <hr>
    <div class="form">
        <h1>Mẫu đăng kí khoá học</h1>
        <div class="fields">
            <!-- <div class="field">
                <label>* Chọn Nhân Viên</label><br>
                <input type="text" name="employeeName" list="exampleList" [(ngModel)]="employee_info">
                <datalist id="exampleList">
                    <option *ngFor="let item of employees" value="{{item.id}}">{{item.fullName}}</option> 
                </datalist>
            </div> -->

            <div style="border: 1px solid #ccc; padding-left:15px; padding-top: 15px; border-radius: 5px;">
                <p>Id: {{emp?.employeeId}}</p>
                <p>Tên: {{emp?.fullName}}</p>
            </div>

            <div>
                <button class="btn-success" style="width: 130px; height: 30px;" data-bs-toggle="modal" href="#selectEmployee">Chọn nhân viên</button>
            </div>

            <!-- <div class="field">
                <label>* Tên Khoá Học</label><br>
                <input type="text" name="courseName" list="courseList" [(ngModel)]="course_info">
                <datalist id="courseList">
                    <option *ngFor="let item of courses" value="{{item.id}} ` {{item.name}}">
                </datalist>
            </div> -->

            <mat-form-field appearance="outline">
                <mat-label>Chọn khoá học</mat-label>
                <mat-select [(ngModel)]="courseSelected" name="food">
                  <mat-option *ngFor="let course of courses" [value]="course" (click)="selectCourse(course)" >
                    {{course.name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Loại khoá học</mat-label>
                <mat-select [(ngModel)]="categorySelected" name="food" disabled>
                  <mat-option *ngFor="let course of filterCategory" [value]="course">
                    {{course}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            <div class="field">
                <mat-form-field appearance="outline">
                    <mat-label>Nền Tảng</mat-label>
                    <mat-select [(ngModel)]="platform" name="food" disabled>
                      <mat-option *ngFor="let course of filterPlatform" [value]="course">
                        {{course}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>

            <div class="field">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>* Tổng thời gian học (hr)</mat-label>
                        <input type="number" matInput placeholder="0" [(ngModel)]="totalTime" disabled>
                        <mat-hint>15hr</mat-hint>
                    </mat-form-field>
                </p>
            </div>

            <div class="field">
                <mat-form-field appearance="outline">
                    <mat-label>* Trạng thái</mat-label>
                    <mat-select [(value)]="status">
                      <mat-option value="1">Đang học</mat-option>
                      <mat-option value="2">Đã học</mat-option>
                      <mat-option value="3">Chưa thi</mat-option>
                      <mat-option value="4">Đã thi chưa có bằng</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <!-- status: 1.Đang học, 2. Đã học, 3. Chưa thi, 4. Thi nhưng chưa có bằng -->


            <div class="field">
                <mat-form-field appearance="outline">
                    <mat-label>* Ngày bắt đầu</mat-label>
                    <input class="datepicker" matInput [matDatepicker]="picker" [(ngModel)]="start">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="field">
                <mat-form-field appearance="outline">
                    <mat-label>Ngày kết thúc (dự kiến)</mat-label>
                    <input class="datepicker" matInput [matDatepicker]="picker2" [(ngModel)]="end">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>


            <div class="field">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Đường dẫn chứng chỉ</mat-label>
                        <input matInput placeholder="Placeholder" [(ngModel)]="certLink">
                        <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                </p>
            </div>


            <button class="btn-success" (click)="Add()">Submit</button>
        </div>
    </div>
</div>




<!-- Select Employee -->
<div class="modal fade " id="selectEmployee" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content">
        <div class="modal-header" >
          <h1 class="popup-header">Chọn nhân viên</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body">
            <div class="table-responsive-md">
          <table class="table table-hover table-striped">
          <thead>
              <th >Id</th>
              <th >Tên</th>
              <th >Email</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of employees" (click)="selectEmployee(item)">
                <td>{{item.employeeId}}</td>
                <td>{{item.fullName}}</td>
                <td>{{item.email}}</td>
            </tr>
            <!-- <tr>
                <td>1</td>
                <td>Nguyen Van A</td>
                <td>nguyenvana@gmail.com</td>
            </tr> -->
          </tbody>
        </table>
            </div>
  
        </div>
        <div class="modal-footer">
  
        </div>
      </div>
    </div>
  </div>