<header>
  <div id="button_manager" class="grid-container">

      <div id="btn1">
        <button class="btn grid-item"><a href="\course-register">Đăng ký khoá học</a></button>
        <button class="btn grid-item"><a href="\course-info">Thông tin khoá học</a></button>
      </div>
      <div id="btn2">
        <button class="btn grid-item"><a href="\course-delete">Xoá khoá học</a></button>
      </div>

  </div>
  <br><br><br>

  <!-- <svg viewBox="-10 15 1330 450">
    <path fill="none" stroke="#5390D9"
      d="M 50 300 Q 100 330 150 300 Q 200 270 250 300 Q 300 330 350 300 Q 400 270 450 300 Q 500 330 550 300 Q 600 270 650 300 Q 700 330 750 300 Q 800 270 850 300 Q 900 330 950 300 Q 1000 270 1050 300 Q 1100 330 1150 300 Q 1200 270 1250 300">
    </path>
  </svg> -->
</header>

<!-- <app-course-delete></app-course-delete>
<router-outlet></router-outlet> -->
