<h1> Thông tin chung nhân viên</h1>
<h4> Số người đã đăng ký khóa học: {{ registeredCoursesByEmployee }}</h4>
<h4> Số người chưa đăng ký khóa học: {{ unregisteredCourseByEmployee }}</h4>
<h4> Số người đã hoàn thành khóa học: {{ completeCourseByEmployee }}</h4>
<h4> Số người chưa hoàn thành khóa học: {{ incompleteCoursesByEmployee }}</h4>
<h4> Số người đăng ký khóa học trong 7 ngày gần nhất: {{ numberOfEmployeesInLast7days }}</h4>

<hr>
<h1>Thông tin chung khóa học </h1>
<h4>Tổng số khóa học: {{ numberOfCourses }}</h4>
<hr>

<h1>Danh sách khóa học</h1>
<div *ngFor="let course of courses, let i = index">
  <div>{{ i + 1 }} - {{course.course_tittle}}</div>
</div>