<div class="container">
  <div class="grid-container">
      <button class="btn2 grid-item">
        <a href="\course-register">Đăng kí khoá học</a>
      </button>
      <button class="btn2 grid-item"><a href="\course-info">Thông tin khoá học</a></button>
  </div>
  <br>
  <button style="margin-left: 40%; background-color: #1EBBE0;" class="btn2 grid-item">
    <a href="\course-delete" style="color: #fff;">Xoá khoá học</a>
  </button>


  <hr>
  
  <div class="row" id="up">
    <div class="col">
      <h1>Xoá khoá học </h1>
    </div>
    <div class="col-md-3" id="s">
      <form class="d-flex">
        <input class="form-control me-2" type="text" name="search" [(ngModel)]="searchText"
          placeholder="Nhập nội dung cần tìm" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    <div class="col col-lg-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="checkAllValue" id="flexCheckDefault" (change)="checkAll()" >
        <label class="form-check-label" for="flexCheckDefault">
          Tất cả
        </label>

        <button type="button" class="btn btn-primary" (click)="MultipleDelete()">Xóa</button>
        <div *ngIf="msg" [ngClass]="clss">{{msg}}</div>
      </div>
    </div>
  </div>
  <br><br>


  <div class="container-fluid" id="cover">
  <table class="datatable table-borderless">

    <tbody>
      <tr  *ngFor="let cd of cInfo  | filter:searchText
                                    | paginate: {
                                      itemsPerPage: 5,
                                      currentPage: p,
                                      totalItems: cInfo.length};  
                                      let i=index">
        <td class="col-sm"><input type="checkbox" value="{{cd.id}}" (change)="checkAnItem($event, cd)" [(ngModel)]="cd.checked"></td>
        <td>
            <div class="">
              <nav id="information">
                <div class="row">
                  <div class="col-md-2">
                    <p>Tên khoá học: </p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                  </div>
                  <div class="col-md-10">
                    <div class="Content">{{cd.course}}</div>
                  </div>
    
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <p>Tên nhân viên: </p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                  </div>
                  <div class="col-md-4">
                    <div class="Content">{{cd.fullName}}</div>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-2">
                    <p>Trạng thái: </p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                  </div>
                  <div class="col-md-2"[ngSwitch]="cd.status">
                    <label class="Content" *ngSwitchCase="1">Đã đăng kí</label>
                    <label class="Content" *ngSwitchCase="2">Chưa đăng kí</label>
                    <label class="Content" *ngSwitchCase="3">Đã hoàn thành</label>
                    <label class="Content" *ngSwitchCase="4">Chưa hoàn thành</label>
                  </div>

                </div>
              </nav>
            </div>
        </td>
        <td>
          <div class="col-md-1" id="bin">
            <button id="editIcon" (click)="ClickBtnDelete(cd)" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-trash"
                viewBox="0 0 16 16">
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                <path fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
              </svg>
            </button>
          </div>
        </td>
      </tr>

      




		</tbody>
	</table>
</div>

<pagination-controls style="display: flex;
  justify-content: center;"  (pageChange)="p = $event"> </pagination-controls>



  


    <!-- Delete dialog -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn xóa khóa học này không?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <button type="button" id="y" class="btn btn-success" data-bs-dismiss="modal"
              (click)="deleteC()">Có</button>
            <button type="button" id="n" class="btn btn-danger" data-bs-dismiss="modal">Không</button>
          </div>
        </div>
      </div>
    </div>


<!-- Notification Success-->
<div class="modal fade " id="notification2" #notification2 aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <mat-icon class="btn_success">done</mat-icon>
        <h1 class="successHeader">Xoá thành công!</h1>
      </div>
    </div>
  </div>
</div>