<div class="container-sm">
  <div class="bar">
    <select class="form-select" aria-label="Default select example" [(ngModel)]="optionCategory">
      <option value="" selected>Danh mục</option>
      <option *ngFor="let category of filterCategory" value="{{category}}">{{category}}</option>
    </select>
    <select class="form-select" aria-label="Default select example" [(ngModel)]="optionPlatform">
      <option value="" selected>Nền tảng</option>
      <option *ngFor="let platform of filterPlatform" value="{{platform}}">{{platform}}</option>
    </select>
    <input type="text" id="searchTxt" [(ngModel)]="searchTxt">
    <button id="searchbtn" class="btn"><i class="fa fa-search"></i></button>

  </div>



  <!-- <div class="button-toggle">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check bt" name="btnradio" id="btnradio1" autocomplete="off">
          <label class="btn btn-outline-primary" for="btnradio1">Tất cả</label>

          <input type="radio" class="btn-check bt" name="btnradio" id="btnradio2" autocomplete="off">
          <label class="btn btn-outline-primary" for="btnradio2">Đã học</label>

          <input type="radio" class="btn-check bt" name="btnradio" id="btnradio3" autocomplete="off">
          <label class="btn btn-outline-primary" for="btnradio3">Đang học</label>
        </div>
  </div> -->
  <!-- <button data-bs-toggle="modal" href="#popupAdd" class="btn btn-circle-plus"><i class="fa fa-plus"></i></button> -->
</div>

<button (click)="createC()" class="plus">
  <svg xmlns="http://www.w3.org/2000/svg" id="plusC" width="70" height="70" fill="#87BEFF"
    class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
    <path
      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
  </svg>
</button>

<div class="container cards">
  <div class="grid" *ngFor="let item of courses | filter: searchTxt
                                                | filter: optionCategory
                                                | filter: optionPlatform
                                                | paginate: {
                                                  itemsPerPage: 6,
                                                  currentPage: p,
                                                  totalItems: courses.length}
                                                ">
    <div class="g-col-3">
      <button class="card" style="width: 18rem;" data-bs-toggle="modal" href="#popup3" (click)="courseDetail(item)">
        <img src="{{item.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 style="font-weight:500;">{{item.name}}</h3>
          <p class="card-text">Platform:{{item.platform}}</p>
        </div>
      </button>
    </div>
  </div>
</div>
<pagination-controls style="display: flex;
  justify-content: center;" (pageChange)="p = $event"> </pagination-controls>







<!-- POP UP -->

<div class="modal fade bd-example-modal-lg" id="popup3" #popup3 aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="popup-header">Chi tiết khoá học</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="courseDetailForm">
          <div class="container-fluid">
            <img src="{{data?.image}}" alt="..." class="img">
            <div class="container">
              <div class="row">
                <h1 class="course-name" id="name_data">{{data?.name}}</h1>
                <input class="course-name" id="name_update" style="display: none;"
                  formControlName="course_name">
                <div class="col-md-5">
                </div>
              </div>

              <div class="row" id="line">
                <div class="col-md-3">
                  <h2>Kỹ năng:</h2>
                </div>
                <div class="col-md-8">
                  <div class="row">
                    <p class="sk skill_data" *ngFor="let item of data?.skills" >{{item}}</p>

                    <p class="sk update_skill" style="display: none;" *ngFor="let item of selectSkills?.skill_name">{{item}}</p>
                    <p class="sk update_skill" style="display: none;" *ngFor="let item of newSkills?.skill_name">{{item}}</p>
                    <button class="btn chooseSkills" [style.display]="display_chooseSkill ? 'block' : 'none'"
                      (click)="ChooseSkills(data?.skills)">
                      <i class="fa fa-edit"></i>
                    </button>
                  </div>

                </div>
              </div>

              <div class="row" id="line">
                <div class="col-md-3">
                  <h2>Nền tảng:</h2>
                </div>
                <div class="col-md-5">
                  <input type="text" class="inputText" 
                    formControlName="platform" >
                </div>
              </div>

              <div class="row" id="line">
                <div class="col-md-3">
                  <h2>Loại:</h2>
                </div>
                <div class="col-md-5">
                  <input type="text" class="inputText" 
                    formControlName="category">
                </div>
              </div>

              <div class="row" id="line">
                <div class="col-md-3">
                  <h2>Thời lượng:</h2>
                </div>
                <div class="col-md-5">
                  <input type="number" class="inputText" min="0" step="0.01"
                    formControlName="course_length">
                </div>
              </div>

              <div id="alert-success">Thành công</div>
              <div id="alert-fail">Đã xảy ra lỗi</div>
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                  <button class="bt delete" data-bs-toggle="modal" href="#popup01" (click)="showListStudent(data)">Danh
                    sách sinh viên</button>
                </div>
                <div class="col-md-3">
                  <button class="bt delete" data-bs-toggle="modal" href="#deletePopup">Xóa khóa học</button>
                </div>
                <div class="col-md-2">
                  <button class="btn-edit" id="edit" (click)="clickEditBtn()">Chỉnh sửa</button>
                  <button class="btn-edit" id="save" style="display: none;" (click)="SaveCourse(data)">Lưu</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
<!-- POPUP DS -->
<div class="modal fade bd-example-modal" id="popup01" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="popup-header">Danh Sách Sinh Viên</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="">
          <table mat-table [dataSource]="dataSource" matSort>
            <!-- STT Column -->
            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>STT</th>
              <td mat-cell *matCellDef="let row">{{row.index}}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="fullName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên</th>
              <td mat-cell *matCellDef="let row">{{row.fullName}}</td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
              <td mat-cell *matCellDef="let row">{{row.email}}</td>
            </ng-container>

            <!-- Course Column -->
            <ng-container matColumnDef="course">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Khoá học</th>
              <td mat-cell *matCellDef="let row">{{row.course}}</td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Trạng thái</th>
              <td mat-cell *matCellDef="let row" [ngSwitch]="row.status">
                <label *ngSwitchCase="1">Đã đăng kí</label>
                <label *ngSwitchCase="2">Chưa đăng kí</label>
                <label *ngSwitchCase="3">Đã hoàn thành</label>
                <label *ngSwitchCase="4">Chưa hoàn thành</label>
              </td>
            </ng-container>

            <!-- Start Date Column -->
            <ng-container matColumnDef="startDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày bắt đầu</th>
              <td mat-cell *matCellDef="let row">{{row.startDate}}</td>
            </ng-container>

            <!-- End Date Column -->
            <ng-container matColumnDef="endDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày kết thúc</th>
              <td mat-cell *matCellDef="let row">{{row.endDate}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row (click)="rowClick(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSize]="10" aria-label="Select page of users"></mat-paginator>
        </div>

      </div>
    </div>
  </div>
</div>





<!-- POPUP ADD -->
<div class="modal fade bd-example-modal" id="popupAdd" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="popup-header">Thêm khoá học</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <mat-form-field appearance="outline">
          <mat-label>Tên khoá học</mat-label>
          <input matInput>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>

        <label for="">Nền tảng</label><br>
        <p-autoComplete [suggestions]="platformList" (completeMethod)="filterCountry($event)" field="name"
          [dropdown]="true">
          <ng-template let-country pTemplate="item">
            <div class="country-item">
              <div>{{country}}</div>
            </div>
          </ng-template>
        </p-autoComplete>




        <br>
        <br><br><br><br><br><br><br><br><br><br>

      </div>
    </div>
  </div>
</div>


<!-- POPUP choose skill -->
<div class="modal fade" id="chooseSkills" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1" >
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="popup-header">Chọn kĩ năng khoá học</h1>
        <button type="button" class="btn-close"  (click)="submitSkills()"></button>
      </div>

      <div class="modal-body">
        <div class="skillCheckBox">
          <div class="example-margin">
            <div class="rowSkills">
              <mat-checkbox class="itemSkills" *ngFor="let s of skilldb" #checkbox
                value="{{s.id}}" (change)="checkSkills(s, $event)">{{s.name}}</mat-checkbox>
            </div>
            <br>

            <mat-form-field appearance="fill" class="other inputNewSkill">
              <mat-label>Kỹ năng khác: </mat-label>
              <input matInput placeholder="Điền kỹ năng không có ở trên" [(ngModel)]="newSkillName">
            </mat-form-field>
            <button type="button" class="btn btn-link" (click)="addSkill()" >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-check2-square" viewBox="0 0 16 16">
                <path
                  d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z" />
                <path
                  d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
              </svg>
            </button>
  
  
  
            
  
            <mat-card>
              <mat-card-title>Các kỹ năng của khóa học</mat-card-title>
              <mat-card-actions class="container | row">
                <div class="skillCover | col-md-3" *ngFor="let skill of selectSkills.skill_name ; let i = index">
                  <button mat-button (click)="deleteSkill(i)" class="deleteB">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                      fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                      <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                  </button>
                  {{skill}}
                </div>
                <div class="skillCover | col-md-3" *ngFor="let skill of newSkills.skill_name ; let i = index">
                  <button mat-button (click)="deleteSkill2(i)" class="deleteB">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                      fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                      <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                  </button>
                  {{skill}}
                </div>
  
              </mat-card-actions>
            </mat-card>





            <div class="col-md-3">
              <button class="bt" (click)="submitSkills()">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Pop up delete course-->
<div class="modal fade" id="deletePopup" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-question" viewBox="0 0 16 16">
          <path d="M8.05 9.6c.336 0 .504-.24.554-.627.04-.534.198-.815.847-1.26.673-.475 1.049-1.09 1.049-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.71 1.71 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745z"/>
          <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
          <path d="M7.001 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0z"/>
        </svg>
        <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn xóa khóa học này không?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body | qb">
        <button type="button" id="y" class="btn btn-success" data-bs-dismiss="modal"
          (click)="deleteCourse(data.id)">Có</button>
        <button type="button" id="n" class="btn btn-danger" data-bs-dismiss="modal">Không</button>
      </div>
    </div>
  </div>
</div>
  
<!-- Notification Success-->
<div class="modal fade " id="success_popup" #notification2 aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">

      <div class="modal-body">
        <mat-icon class="btn_success">done</mat-icon>
        <h1 class="successHeader">Thành công!</h1>
      </div>
    </div>
  </div>
</div>

<!-- Notification Fail-->
<div class="modal fade " id="fail_popup" #notification2 aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <mat-icon class="btn_fail">close</mat-icon>
        <h1 class="failHeader">Đã xảy ra lỗi!</h1>
      </div>
    </div>
  </div>
</div>

