<div class="container-sm">
  <div class="bar">
      <select class="form-select" aria-label="Default select example">
          <option value="All" selected>Danh mục</option>
          <option *ngFor="let course of courses" value="{{course.category}}">{{course.category}}</option>
      </select>
      <select class="form-select" aria-label="Default select example">
          <option value="All" selected>Nền tảng</option>
          <option *ngFor="let course of courses" value="{{course.platform}}">{{course.platform}}</option>
      </select>
      <input type="text" id="searchTxt" [(ngModel)]="searchTxt">
       <button id="searchbtn" class="btn"><i class="fa fa-search"></i></button>

    </div>

  <div class="button-toggle">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check bt" name="btnradio" id="btnradio1" autocomplete="off">
          <label class="btn btn-outline-primary" for="btnradio1">Tất cả</label>

          <input type="radio" class="btn-check bt" name="btnradio" id="btnradio2" autocomplete="off">
          <label class="btn btn-outline-primary" for="btnradio2">Đã học</label>

          <input type="radio" class="btn-check bt" name="btnradio" id="btnradio3" autocomplete="off">
          <label class="btn btn-outline-primary" for="btnradio3">Đang học</label>
        </div>
  </div>
  <button class="btn btn-circle-plus"><i class="fa fa-plus"></i></button>
</div>

<div class="container cards">
  <div class="grid" *ngFor="let course of courses | filter: searchTxt">
    <div class="g-col-3">
      <button class="card" style="width: 18rem;" (click)="courseDetail(course)">
        <img src="{{course.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 style="font-weight:500;">{{course.name}}</h3>
          <p class="card-text">Platform:{{course.platform}}</p>
        </div>
      </button>
    </div>
  </div>

</div>

