<div>
    <p id="labeltxt">Thống kê chung</p>
    <p id="tag">Nhân Viên:</p>
    <br><br><br><br>
    <nav id="btn">
        <button class="show-popup-employee" data-bs-toggle="modal" href="#popup5" (click)="SetPopUpData(1)">Số người đã đăng kí khoá học
            <p>{{statistics.get(1)!.length}}/...</p>
        </button>
        <button class="show-popup-employee" data-bs-toggle="modal" href="#popup5" (click)="SetPopUpData(2)">Số người chưa hoàn thành khoá học
            <p>{{statistics.get(2)!.length}}/...</p>
        </button>
        <button class="show-popup-employee" data-bs-toggle="modal" href="#popup5" (click)="SetPopUpData(3)">
            số người chưa đăng kí hoá học
            <p>{{statistics.get(3)!.length}}/...</p>
        </button>
    </nav>

    <br>
    <nav id="btn">
        <button class="show-popup-employee" data-bs-toggle="modal" href="#popup5" (click)="SetPopUpData(4)">Số người đã hoàn thành khoá học
            <p>{{statistics.get(4)!.length}}/...</p>
        </button>
        <button class="show-popup-employee" data-bs-toggle="modal" href="#popup5" (click)="SetPopUpData(5)">Số người mới đăng ký trong 7 ngày gần nhất
            <p>{{employeesInLast7Days.length}}/{{employees.length}}</p>
        </button>
    </nav>

    <svg viewBox="-10 15 1330 450">
        <path fill="none" stroke="#5390D9" d="M 50 300 Q 100 330 150 300 Q 200 270 250 300 Q 300 330 350 300 Q 400 270 450 300 Q 500 330 550 300 Q 600 270 650 300 Q 700 330 750 300 Q 800 270 850 300 Q 900 330 950 300 Q 1000 270 1050 300 Q 1100 330 1150 300 Q 1200 270 1250 300"></path>
    </svg>
    
    <br><br>
    <nav>
        <p id="tag">Khóa học:</p>
        <br><br><br><br>
        <nav id="btn">
            <button class="show-popup-course">
                Tổng số khóa học
                <p>...</p>
            </button>
        </nav>
        <br>
        <nav id="btn">
            <button class="show-popup-course">Số khóa học đã hoàn thành
                <p>.../...</p>
            </button>
            <button class="show-popup-course">Số khóa học chưa hoàn thành
                <p>.../...</p>
            </button>
        </nav>
    </nav>
</div>

<!-- Popup Đã Đăng Ký -->

<div class="modal fade bd-example-modal-lg" id="popup1" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header" >
          <h1 class="tt">Danh Sách Sinh Viên Đã Đăng Ký Khoá Học</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">

            <table class="table table-hover table-striped">
                <thead>
                    <th scope="col">STT</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Email</th>
                    <th scope="col">Khoá học</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Nền Tảng</th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of statistics.get(1)" (click)="rowClick(item.id, 0)">
                    <td></td>
                    <td>{{item.fullName}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.course}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.platform}}</td>
                  </tr>
                </tbody>
            </table>
            

        </div>
        <div class="modal-footer">
  
        </div>
      </div>
    </div>
  </div>

<!-- Popup Chưa Hoàn Thành -->

<div class="modal fade bd-example-modal-lg" id="popup2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header" >
          <h1 class="tt">Danh Sách Sinh Viên Chưa Hoàn Thành Khoá Học</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">

            <table class="table table-hover table-striped">
                <thead>
                    <th scope="col">STT</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Email</th>
                    <th scope="col">Khoá học</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Nền Tảng</th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of statistics.get(2)" (click)="rowClick(item.id, 1)">
                    <td></td>
                    <td>{{item.fullName}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.course}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.platform}}</td>
                  </tr>
                </tbody>
            </table>
            

        </div>
        <div class="modal-footer">
  
        </div>
      </div>
    </div>
  </div>
  

<!-- Popup Chưa Đăng Kí -->

<div class="modal fade bd-example-modal-lg" id="popup3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header" >
          <h1 class="tt">Danh Sách Sinh Viên Chưa Đăng Ký Khoá Học</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">

            <table class="table table-hover table-striped">
                <thead>
                    <th scope="col">STT</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Email</th>
                    <th scope="col">Khoá học</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Nền Tảng</th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of statistics.get(3)" (click)="rowClick(item.id, 2)">
                    <td></td>
                    <td>{{item.fullName}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.course}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.platform}}</td>
                  </tr>
                </tbody>
            </table>
            

        </div>
        <div class="modal-footer">
  
        </div>
      </div>
    </div>
  </div>
  
<!-- Popup Đã Hoàn Thành -->

<div class="modal fade bd-example-modal-lg" id="popup4" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header" >
          <h1 class="tt">Danh Sách Sinh Viên Đã Hoàn Thành</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">

            <table class="table table-hover table-striped">
                <thead>
                    <th scope="col">STT</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Email</th>
                    <th scope="col">Khoá học</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Nền Tảng</th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of statistics.get(4)" (click)="rowClick(item.id, 3)">
                    <td></td>
                    <td>{{item.fullName}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.course}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.platform}}</td>
                  </tr>
                </tbody>
            </table>
            

        </div>
        <div class="modal-footer">
  
        </div>
      </div>
    </div>
  </div>
  
<!-- Popup 7 Ngay -->

<div class="modal fade bd-example-modal-lg" id="popup6" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header" >
          <h1 class="tt">Danh Sách Sinh Viên Mới Đăng Ký Trong 7 Ngày Gần Nhất</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">

            <table class="table table-hover table-striped">
                <thead>
                    <th scope="col">STT</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Email</th>
                    <th scope="col">Khoá học</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Nền Tảng</th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of employeesInLast7Days" (click)="rowClick(item.id, 4)">
                    <td></td>
                    <td>{{item.fullName}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.course}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.platform}}</td>
                  </tr>
                </tbody>
            </table>
            

        </div>
        <div class="modal-footer">
  
        </div>
      </div>
    </div>
  </div>
  

  <!-- PopUp chung -->
  
<div class="modal fade bd-example-modal-lg" id="popup5" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header" >
        <h1 class="tt">Danh Sách Sinh Viên Mới Đăng Ký Trong 7 Ngày Gần Nhất</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

          <table class="table table-hover table-striped">
              <thead>
                  <th scope="col">STT</th>
                  <th scope="col">Tên</th>
                  <th scope="col">Email</th>
                  <th scope="col">Khoá học</th>
                  <th scope="col">Trạng thái</th>
                  <th scope="col">Nền Tảng</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of popup_data" (click)="rowClick(item.id, 5)">
                  <td></td>
                  <td>{{item.fullName}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.course}}</td>
                  <td>{{item.status}}</td>
                  <td>{{item.platform}}</td>
                </tr>
              </tbody>
          </table>
          

      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
