*, ::after, ::before {
  box-sizing: border-box;
}

h1{
  margin:0;
}

svg{
  margin-top:-100px
}

#labeltxt {
  position: relative;
  width: 498px;
  height: 82px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 25px;
  /* top: 309px; */
  font-family: Karma;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 100%;
  /* or 64px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.32px;
  color: #265A99;
  text-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
}

#tag {
  position: static;
  width: 229px;
  height: 46px;
  margin-left: 70px;
  /* top: 486px; */
  font-family: Karma;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 100%;
  /* identical to box height, or 46px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.32px;
  color: #3B76BD;
  text-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
}


#btn {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px; 
  filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
}
button{
  font-size: 20px;
}

div nav button {
  width: 416px;
  height: 128px;
  margin: 7px;
  background: #CDDDF0;
  border: 0.5px solid #807f7f;
  box-sizing: border-box;
  border-radius: 9px;
}
#paging {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-family: Post No Bills Jaffna;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

/* Modal width style*/


.modal-lg, .modal-xl {
  max-width: 1000px;
}


.modal-lg2, .modal-xl {
  max-width: 800px;
}


.modal-md {
  max-width:600px;
}


.stat-card {
  background: #fff;
  padding: 30px;
  width: 350px;
  height: 120px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.stat-card:hover{
  top: -10px;
}

.row{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: 1fr;
  justify-content: center;
  row-gap: 20px;
}


.stat-card__icon-circle {
  height: 60px;
  width: 60px;
  border-radius: 60px;
  background: rgba(0, 123, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat-card__icon.stat-card__icon--success .stat-card__icon-circle i {
  color: #3B76BD;
}

.stat-card__icon-circle i {
  font-size: 30px;
}











.table{
  margin-top: 5%;
  --bs-table-striped-bg: #CFDEEF;
  --bs-table-bg: #fff;
  text-align: center;
}

th{
  background-color: #7DA0CA;
  padding-top: 15px;
}


/* 
 */

 
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}


.mat-column-index{
  width: 10%;
}

.mat-column-fullName{
  width: 15%;
}



.mat-column-name{
  width: 45%;
}
.mat-column-category{
  width: 20%;
}





.mat-column-email{
  width: 20%;
}
.mat-column-course{
  width: 35%;
}
.mat-column-status{
  width: 10%;
}
.mat-column-platform{
  width: 15%;
}


.mat-header-cell {
  color: #0c2e58;
  font-weight: 500;
  font-size: 14px;
}

.mat-row .mat-cell {
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background-color: #d7e3f1;
}




.modal {
  text-align: center;
}
.modal-dialog {
  text-align: left; 
  width: auto !important;
  display: inline-block;
}


@media only screen and (max-width: 600px) {
  /* .stat-card {
    height: 150px;
  } */
  .row{
    display: block;
    margin: 0 10px;
  }
  .stat-card{
    margin: 20px 0px;
    width:90vw;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 601px)  {
  .row{
    display: grid;
    grid-template-columns: auto auto;
    /* margin: 0 10px; */
  }
  .stat-card{
    margin: 20px 0px;
    width:300px;
  }
}


/* @media only screen and (min-width:768px) and (max-width:990px){
	.mm{
		background:red;	
	}
	
} */
