<!-- <div>
    <p id="labeltxt">Thống kê chung</p>
    <p id="tag">Nhân Viên:</p>
    <br><br><br><br>
    <nav id="btn">
        <button class="show-popup-employee" data-bs-toggle="modal" href="#popup1" 
          (click)="SetPopUpData(1, 'Danh sách sinh viên đăng kí khoá học')">
            Số người đã đăng kí khoá học
            <p>{{statistics.get(1)!.length}}/{{employees?.length}}</p>
        </button>
        <button class="show-popup-employee" data-bs-toggle="modal" href="#popup2" 
          (click)="SetPopUpData(2, 'Danh sách sinh viên chưa đăng kí khoá học')">
          Số người chưa đăng kí khoá học
          <p>{{statistics.get(2)!.length}}/{{employees?.length}}</p>
      </button>
      <button class="show-popup-employee" data-bs-toggle="modal" href="#popup1" 
          (click)="SetPopUpData(3, 'Danh sách sinh viên hoàn thành khoá học')">
          Số người đã hoàn thành khoá học
        <p>{{statistics.get(3)!.length}}/{{employees?.length}}</p>
    </button>
        
    </nav>

    <br>
    <nav id="btn">
        
        <button class="show-popup-employee" data-bs-toggle="modal" href="#popup1" 
            (click)="SetPopUpData(4, 'Danh sách sinh viên chưa hoàn thành khoá học')">
            Số người chưa hoàn thành khoá học
          <p>{{statistics.get(4)!.length}}/{{employees?.length}}</p>
      </button>
        <button class="show-popup-employee" data-bs-toggle="modal" href="#popup1" 
          (click)="SetPopUpData(5, 'Danh sách sinh viên đăng kí khoá học trong 7 ngày gần nhất')">
            Số người mới đăng ký trong 7 ngày gần nhất
            <p>{{employeesInLast7Days?.length}}/{{employees?.length}}</p>
        </button>
    </nav>

    <svg viewBox="-10 15 1330 450">
        <path fill="none" stroke="#5390D9" d="M 50 300 Q 100 330 150 300 Q 200 270 250 300 Q 300 330 350 300 Q 400 270 450 300 Q 500 330 550 300 Q 600 270 650 300 Q 700 330 750 300 Q 800 270 850 300 Q 900 330 950 300 Q 1000 270 1050 300 Q 1100 330 1150 300 Q 1200 270 1250 300"></path>
    </svg>
    
    <br><br>
    <nav>
        <p id="tag">Khóa học:</p>
        <br><br><br><br>
        <nav id="btn">
            <button class="show-popup-course" data-bs-toggle="modal" href="#popup3">
                Tổng số khóa học
                <p>{{courses?.length}}</p>
            </button>
        </nav>
        <br>
        <nav id="btn">
            <button class="show-popup-course">Số khóa học đã hoàn thành
                <p>.../...</p>
            </button>
            <button class="show-popup-course">Số khóa học chưa hoàn thành
                <p>.../...</p>
            </button>
        </nav>
    </nav>
</div>

  <!-- PopUp Employee -->
  
  <!-- <div class="modal fade bd-example-modal-lg" id="popup1" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header" >
          <h1 class="tt">{{popup_title}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body">
  
            <table class="table table-hover table-striped">
                <thead>
                    <th scope="col">STT</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Email</th>
                    <th scope="col">Khoá học</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Nền Tảng</th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of popup_data | paginate: {
                                      itemsPerPage: 5,
                                      currentPage: p,
                                      totalItems: totalLengthEmp }" 
                                    (click)="rowClick(item.employeeId, 0)">
                    <td></td>
                    <td>{{item?.fullName}}</td>
                    <td>{{item?.email}}</td>
                    <td>{{item?.course}}</td>
                    <td *ngIf="item?.status == 1" >Đã đăng kí</td>
                    <td *ngIf="item?.status == 2" >Chưa đăng kí</td>
                    <td *ngIf="item?.status == 3" >Đã hoàn thành</td>
                    <td *ngIf="item?.status == 4" >Chưa hoàn thành</td>
                    <td>{{item?.platform}}</td>
                  </tr>
                </tbody>
            </table>
            <pagination-controls style="display: flex; justify-content: center;"  (pageChange)="p = $event"> </pagination-controls>
  
        </div>
        <div class="modal-footer">
  
        </div>
      </div>
    </div>
  </div> -->

    <!-- PopUp Employee chưa đăng kí -->
  
    <!-- <div class="modal fade bd-example-modal-lg" id="popup2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header" >
            <h1 class="tt">{{popup_title}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
    
          <div class="modal-body">
    
              <table class="table table-hover table-striped">
                  <thead>
                      <th scope="col">STT</th>
                      <th scope="col">Tên</th>
                      <th scope="col">Email</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of popup_data | paginate: {
                                                        itemsPerPage: 5,
                                                        currentPage: p,
                                                        totalItems: totalLengthEmp }"  
                                                      (click)="rowClick(item.employeeId, 1)">
                      <td></td>
                      <td>{{item?.fullName}}</td>
                      <td>{{item?.email}}</td>
                    </tr>
                  </tbody>
              </table>

              <pagination-controls style="display: flex; justify-content: center;"  (pageChange)="p = $event"> </pagination-controls>
              
    
          </div>
          <div class="modal-footer">
    
          </div>
        </div>
      </div>
    </div> -->
  

<!-- Popup Course -->

<!-- <div class="modal fade bd-example-modal-lg" id="popup3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header" >
          <h1 class="tt">Tổng số khoá học</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">

            <table class="table table-hover table-striped">
                <thead>
                    <th scope="col">STT</th>
                    <th scope="col">Khoá học</th>
                    <th scope="col">Nền tảng</th>
                    <th scope="col">Loại</th>
                    <th scope="col">Thời lượng</th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of courses | paginate: {
                                                  itemsPerPage: 5,
                                                  currentPage: p,
                                                  totalItems: courses.length }">
                    <td></td>
                    <td>{{item?.name}}</td>
                    <td>{{item?.platform}}</td>
                    <td>{{item?.category}}</td>
                    <td>{{item?.courseLength}}</td>
                  </tr>
                </tbody>
            </table>
            <pagination-controls style="display: flex; justify-content: center;"  (pageChange)="p = $event"> </pagination-controls>
            

        </div>
        <div class="modal-footer">
  
        </div>
      </div>
    </div>
  </div> -->
  

  <p id="labeltxt">Thống kê chung</p>
  <br>
  <div class="row">
    <div class="col-sm-3"  data-bs-toggle="modal" href="#popup01" (click)="SetPopUpData(1, 'Danh sách sinh viên đăng kí khoá học')">
      <div class="stat-card">
        <div class="stat-card__content">
          <p class="text-uppercase mb-1 text-muted">Đã đăng kí khoá học</p>
          <h1><i class="fa fa-user"></i> {{statistics.get(1)!.length}}/{{employees?.length}}</h1>
          <!-- <div>
            <span class="text-muted">Tổng số nhân viên</span>
          </div> -->
        </div>
        <div class="stat-card__icon stat-card__icon--success">
          <div class="stat-card__icon-circle">
            <i class="fa fa-check"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3" data-bs-toggle="modal" href="#popup02" 
    (click)="SetPopUpData(2, 'Danh sách sinh viên chưa đăng kí khoá học')">
      <div class="stat-card">
        <div class="stat-card__content">
          <p class="text-uppercase mb-1 text-muted">Chưa đăng kí khoá học</p>
          <h1><i class="fa fa-user"></i> {{statistics.get(2)!.length}}/{{employees?.length}}</h1>
          <!-- <div>
            <span class="text-muted">Tổng số nhân viên</span>
          </div> -->
        </div>
        <div class="stat-card__icon stat-card__icon--success">
          <div class="stat-card__icon-circle">
            <i class="fa fa-exclamation"></i>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-sm-3" data-bs-toggle="modal" href="#popup01" 
    (click)="SetPopUpData(3, 'Danh sách sinh viên hoàn thành khoá học')">
      <div class="stat-card">
        <div class="stat-card__content">
          <p class="text-uppercase mb-1 text-muted">Đã hoàn thành khoá học</p>
          <h1><i class="fa fa-user"></i> {{statistics.get(3)!.length}}/{{employees?.length}}</h1>
          <!-- <div>
            <span class="text-muted">Tổng số nhân viên</span>
          </div> -->
        </div>
        <div class="stat-card__icon stat-card__icon--success">
          <div class="stat-card__icon-circle">
            <i class="fa fa-graduation-cap"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3" data-bs-toggle="modal" href="#popup01" 
    (click)="SetPopUpData(4, 'Danh sách sinh viên chưa hoàn thành khoá học')">
      <div class="stat-card">
        <div class="stat-card__content">
          <p class="text-uppercase mb-1 text-muted">Chưa hoàn thành khoá học</p>
          <h1><i class="fa fa-user"></i> {{statistics.get(4)!.length}}/{{employees?.length}}</h1>
          <!-- <div>
            <span class="text-muted">Tổng số nhân viên</span>
          </div> -->
        </div>
        <div class="stat-card__icon stat-card__icon--success">
          <div class="stat-card__icon-circle">
            <i class="fa fa-spinner"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3" data-bs-toggle="modal" href="#popup01" 
    (click)="SetPopUpData(5, 'Danh sách sinh viên đăng kí khoá học trong 7 ngày gần nhất')">
      <div class="stat-card">
        <div class="stat-card__content">
          <p class="text-uppercase mb-1 text-muted">Đăng kí trong 7 ngày gần nhất</p>
          <h1><i class="fa fa-user"></i> {{employeesInLast7Days?.length}}/{{employees?.length}}</h1>
          <!-- <div>
            <span class="text-muted">Tổng số nhân viên</span>
          </div> -->
        </div>
        <div class="stat-card__icon stat-card__icon--success">
          <div class="stat-card__icon-circle">
            <i class="fa fa-calendar"></i>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-sm-3" data-bs-toggle="modal" href="#popup01"
    (click)="SetPopUpData(-1, 'Danh sách khoá học')">
      <div class="stat-card">
        <div class="stat-card__content">
          <p class="text-uppercase mb-1 text-muted">Tổng số khoá học</p>
          <h1><i class="fa fa-user"></i> {{courses?.length}}</h1>
          <!-- <div>
            <span class="text-muted">Tổng số nhân viên</span>
          </div> -->
        </div>
        <div class="stat-card__icon stat-card__icon--success">
          <div class="stat-card__icon-circle">
            <i class="fa fa-book"></i>
          </div>
        </div>
      </div>
    </div>
  </div>




<!-- PopUp Employee -->
  
<div class="modal fade bd-example-modal" id="popup01" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header" >
        <h1 class="tt">{{popup_title}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="">
          <table mat-table [dataSource]="dataSource" matSort>
            <!-- ID Column -->
            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>STT</th>
              <td mat-cell *matCellDef="let row">{{row.index}}</td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="fullName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên</th>
              <td mat-cell *matCellDef="let row">{{row.fullName}}</td>
            </ng-container>
    
            <!-- Email Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
              <td mat-cell *matCellDef="let row">{{row.email}}</td>
            </ng-container>
    
            <!-- Course Column -->
            <ng-container matColumnDef="course">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Khoá học</th>
              <td mat-cell *matCellDef="let row">{{row.course}}</td>
            </ng-container>
    
            <!-- Status Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Trạng thái</th>
              <td mat-cell *matCellDef="let row">{{row.status}}</td>
            </ng-container>
    




            <!-- Tên khoá học Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên khoá học</th>
              <td mat-cell *matCellDef="let row">{{row.name}}</td>
            </ng-container>
    
            <!-- Platform Column -->
            <ng-container matColumnDef="platform">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Nền tảng</th>
              <td mat-cell *matCellDef="let row">{{row.platform}}</td>
            </ng-container>
    
            <!-- category Column -->
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Loại</th>
              <td mat-cell *matCellDef="let row">{{row.category}}</td>
            </ng-container>

            <!-- CourseLength Column -->
            <ng-container matColumnDef="courseLength">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Thời lượng</th>
              <td mat-cell *matCellDef="let row">{{row.courseLength}}</td>
            </ng-container>
    
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
                mat-row
                (click)="rowClick(row, 0)"
                *matRowDef="let row; columns: displayedColumns;"
            ></tr>
          </table>
    
          <mat-paginator [pageSize]="10" aria-label="Select page of users"></mat-paginator>
        </div> 

      </div>
    </div>
  </div>
</div>




<!-- PopUp2 Employee -->
  
<div class="modal fade bd-example-modal" id="popup02" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header" >
        <h1 class="tt">{{popup_title}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="">
          <table mat-table [dataSource]="dataSource" matSort>
            <!-- ID Column -->
            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>STT</th>
              <td mat-cell *matCellDef="let row">{{row.index}}</td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="fullName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên</th>
              <td mat-cell *matCellDef="let row">{{row.fullName}}</td>
            </ng-container>
    
            <!-- Email Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
              <td mat-cell *matCellDef="let row">{{row.email}}</td>
            </ng-container>
    
    
            <tr mat-header-row *matHeaderRowDef="displayColumns2"></tr>
            <tr
                mat-row
                (click)="rowClick(row, 1)"
                *matRowDef="let row; columns: displayColumns2;"
            ></tr>
          </table>
    
          <mat-paginator [pageSize]="10" aria-label="Select page of users"></mat-paginator>
        </div> 

      </div>
    </div>
  </div>
</div>


<!-- PopUp3 Employee -->
  
<div class="modal fade bd-example-modal" id="popup03" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg2">
    <div class="modal-content">
      <div class="modal-header" >
        <h1 class="tt">Các khoá học</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="">
          <table mat-table [dataSource]="dataSource2" matSort>
            <!-- ID Column -->
            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>STT</th>
              <td mat-cell *matCellDef="let row">{{row.index}}</td>
            </ng-container>
    
            <!-- Course Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên khoá học</th>
              <td mat-cell *matCellDef="let row">{{row.name}}</td>
            </ng-container>
    
            <!-- Platform Column -->
            <ng-container matColumnDef="platform">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Nền tảng</th>
              <td mat-cell *matCellDef="let row">{{row.platform}}</td>
            </ng-container>

            <!-- Category Column -->
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Loại</th>
              <td mat-cell *matCellDef="let row">{{row.category}}</td>
            </ng-container>
    
            <!-- CourseLength Column -->
            <ng-container matColumnDef="courseLength">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Thời lượng</th>
              <td mat-cell *matCellDef="let row">{{row.courseLength}}</td>
            </ng-container>
    
    
            <tr mat-header-row *matHeaderRowDef="displayColumns3"></tr>
            <tr
                mat-row
                *matRowDef="let row; columns: displayColumns3;"
            ></tr>
          </table>
    
          <mat-paginator [pageSize]="10" aria-label="Select page of users"></mat-paginator>
        </div> 

      </div>
    </div>
  </div>
</div>